<h4>Add new User</h4>

<!--Pure HTML form-->
<!--<form action="/users" method="POST">-->
  <!--Name:<input type="text" name="user_name">-->
  <!--<br>-->
  <!--<input type="submit">-->
<!--</form>-->
<%= render 'form' %>